.idea_form {
  margin: 0 auto;
}

.btn-default#idea_submit{
  float: right;
  margin-bottom: 10px;
}

.card{
  margin-bottom: 10px;
}

.dropdown-toggle#dropdownMenuButton{
  background-color: #ffffff;
}

.btn-secondary#dropdownMenuButton{
  color: #000000;
  border-color: #ffffff;
}
